@model IEnumerable<Viljaladu.Models.Auto>

@{
    ViewBag.Title = "Index2";
}

<h2>Saada auto välja</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.autoNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sisenemisMass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lahkumisMass)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.autoNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sisenemisMass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lahkumisMass)
            </td>
            <td>
                @Html.ActionLink("Saada välja", "PaneLahkumisMass", new { id = item.id })
            </td>
        </tr>
    }

</table>
